<section id="discord" class="content-section text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        Join our Discord<br>
        <small>All-in-one voice and text chat for gamers that’s free, secure, and works on both your desktop and phone.</small>
      </h1>

      <h2>
        <a href="https://discord.gg/Pag26K5">Join the Server</a><br>
      </h2>

    </div>
  </div>
</section>
