<section id="files" class="content-section text-center">
  <h1>
    Files<br>
    <small>In case you forgot to install something important</small>
  </h1>

  <h2>
    <a href="http://files.pittco.loc">Check out our file server</a><br>
    <small>files.pittco.loc</small>
  </h2>
</section>
