<section id="irc" class="content-section text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        If you have an IRC client<br>
        <small>(like mIRC, HexChat, Textual)</small>
      </h1>

      <h2>
        <a href="irc://irc.pittco.loc">Connect to IRC</a><br>
        <small>irc.pittco.loc</small> 
      </h2>

      <h3>Otherwise...</h3>

      <h2>
        <a href="http://irc.pittco.loc" target="_blank">Connect to Web Chat</a><br>
        <small>http://irc.pittco.loc</small>
      </h2>

      <h2>
        Channels<br>
        <small class="no-transform">#pittco</small><br>
        <small class="no-transform">#help</small><br>
        <small class="no-transform">#food</small><br>
      </h2>

      <h1 class="intro-to-irc">Intro to IRC</h1>

      <p>
        Registering allows you to create channels and protects your nickname from unauthorized use.
      </p>

      <h2>Register a nick</h2>
      <h3>
        <code class="no-transform">/msg NickServ register your_password email@address.com</code>
      </h3>

      <h2>Identify yourself</h3>
      <h3>
        <code class="no-transform">/msg NickServ identify your_password</code>
      </h3>

      <h2>NickServ help</h2>
      <h3>
        <code class="no-transform">/msg NickServ help</code>
      </h3>

      <h2>Create a channel</h2>
      <p>
        If you need a channel simply use the commands below with a properly identified nickname.
      </p>
      <h3>
        <code class="no-transform">/msg ChanServ register #channel_name</code>
      </h3>

      <h2>ChanServ help</h2>
      <h3>
        <code class="no-transform">/msg ChanServ help</code>
      </h3>
    </div>
  </div>
</section>
