<section id="tournaments" class="content-section text-center">
  <h1>Tournaments</h1>

  <% @events.each do |event| %>
    <h2>
      <%= event.name %><br>
      <small><%= format_date event.created_at %></small>
      <% unless event.challonge_id.blank? %>
        <small><a href="<%= challonge_url(event) %>">Sign up</a></small>
      <% end %>
    </h2>
  <% end %>
</section>
