<section id="voice" class="content-section text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Voice Chat Services</h1>

      <h2>
        <a href="mumble://voice.pittco.loc/?version=1.2.8">Connect to Mumble</a><br>
        <small>voice.pittco.loc</small>
      </h2>

      <h2>
        <a href="ts3server://voice.pittco.loc:9987">Connect to Teamspeak</a><br>
        <small>voice.pittco.loc:9987</small>
      </h2>
    </div>
  </div>
</section>
